// express setting
PORT  (example: PORT=4000)
SECRET (example: SECRET=wpojefwepof) // express-session 에서 사용되는 secret

// database setting
username (계정이름) (default = root)
password (비밀번호)
database (database이름) (default = pily)
host (연결할 host) = (defualt = 127.0.0.1)
database_port (연결할 포트) (default = 3306)

// oauth setting
GclientID= goggle client ID
GclientSecret= goggle client Secret
KclientID= kakao client ID
KclientSecret= kakao client Secret
NclientID= naver client ID
NclientSecret= naver client Secret


// aws setting
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_REGION